$primary: #009bde;

// Theme fonts
$font-family-title: TitilliumWeb;
$serif: TitilliumWeb;
$f-sans-serif: TitilliumWeb;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';